/* Snippet below provided by https://github.com/adrianhajdin/project_3D_developer_portfolio */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --font-family-generalsans: "Genral Sans", sans-serif;
  --font-family-publicsans: "Public Sans", sans-serif;
  --color-primary: #323339;
  --color-secondary: #757785;
  --color-tertiary: #151030;
  --color-black-100: #100d25;
  --color-black-200: #090325;
  --color-white-100: #f3f3f3;

  --shadow-card: 0px 35px 120px -15px #211e35;
  --screens-xs: 450px;
  /*--background-image-hero-pattern: url("/src/assets/herobg.png");*/
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  header a {
    @apply text-neutral-400 font-bold text-xl hover:text-white transition-colors
  }

  .nav-sidebar ul {
    @apply flex flex-col items-center justify-center
  }

  .nav-sidebar li {
    @apply w-full px-0
  }

  .nav-sidebar a {
    @apply flex justify-center w-full py-5 hover:bg-secondary
  }


}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to right,
          #434343,
          #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to right,
          #434343,
          #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
          -90deg,
          #804dee 0%,
          rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: #00cea8;
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #f12711,
          #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #11998e,
          #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #2f80ed,
          #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #2f80ed,
          #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
          to top,
          #ec008c,
          #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #ffffff,
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2),
    2.5em 0 0 0 rgba(255, 255, 255, 0.2),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2),
    0 2.5em 0 0 rgba(255, 255, 255, 0.2),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.5),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.7),
    1.8em -1.8em 0 0 #ffffff, 2.5em 0 0 0 rgba(255, 255, 255, 0.2),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2),
    0 2.5em 0 0 rgba(255, 255, 255, 0.2),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.2),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.5),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.7), 2.5em 0 0 0 #ffffff,
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2),
    0 2.5em 0 0 rgba(255, 255, 255, 0.2),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.2),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.5),
    2.5em 0 0 0 rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0 #ffffff,
    0 2.5em 0 0 rgba(255, 255, 255, 0.2),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.2),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2),
    2.5em 0 0 0 rgba(255, 255, 255, 0.5),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.7), 0 2.5em 0 0 #ffffff,
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.2),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.2),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2),
    2.5em 0 0 0 rgba(255, 255, 255, 0.2),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.5),
    0 2.5em 0 0 rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0 #ffffff,
    -2.6em 0 0 0 rgba(255, 255, 255, 0.2),
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2),
    2.5em 0 0 0 rgba(255, 255, 255, 0.2),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2),
    0 2.5em 0 0 rgba(255, 255, 255, 0.5),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.7), -2.6em 0 0 0 #ffffff,
    -1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 255, 0.2),
    1.8em -1.8em 0 0 rgba(255, 255, 255, 0.2),
    2.5em 0 0 0 rgba(255, 255, 255, 0.2),
    1.75em 1.75em 0 0 rgba(255, 255, 255, 0.2),
    0 2.5em 0 0 rgba(255, 255, 255, 0.2),
    -1.8em 1.8em 0 0 rgba(255, 255, 255, 0.5),
    -2.6em 0 0 0 rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0 #ffffff;
  }
}

.waving-hand {
  font-size: 2rem;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
